:root {
  --m: hsl(30deg 85% 85%); /*White*/
  --1m: hsl(34deg 45% 45%);
  --30m: hsl(231deg 75% 11%); /*Black*/
  --130m: hsl(231deg 20% 15%);
  --31m: hsl(2deg 57% 45%); /*Red*/
  --131m: hsl(13deg 86% 20%);
  --32m: hsl(154deg 49% 38%); /*Green*/
  --132m: hsl(150deg 29% 28%);
  --33m: hsl(37deg 80% 47%); /*Yellow*/
  --133m: hsl(29deg 60% 37%);
  --34m: hsl(231deg 54% 67%); /*Blue*/
  --134m: hsl(221deg 54% 37%);
  --35m: hsl(240deg 20% 68%); /*Purple*/
  --135m: hsl(240deg 20% 48%);
  --36m: hsl(211.58deg 24.68% 79.41%); /*Light Blue*/
  --136m: hsl(222.71deg 30% 53%);
  --37m: grey; /*Grey*/
  --137m: lightgrey;

  --40m: var(--130m);
  --41m: var(--131m);
  --42m: var(--132m);
  --43m: var(--133m);
  --44m: var(--134m);
  --45m: var(--135m);
  --46m: var(--136m);
  --47m: var(--137m);

  --tbkg: var(--130m);
  --tprimary: var(--m);
  --tborder: black;

}

body {
  margin: 0;
  height: 100%;
  background: var(--tbkg);
}

.twrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  height: clamp(80px, 100vw, 1000px);
}

.insp {
  height: clamp(100px, 70vw, 350px);
}

table {
  border-collapse: collapse;

  color: var(--tprimary);
  background: var(--tbkg);
}

table * {
  padding: 0.1rem 0.5rem;
  font-size: 0.8rem;
}

th {
  color: var(--tprimary);
  font-weight: 200;
}

tr td:nth-child(3) {
  background: var(--40m);
}

tr td:nth-child(4) {
  background: var(--41m);
}

tr td:nth-child(5) {
  background: var(--42m);
}

tr td:nth-child(6) {
  background: var(--43m);
}

tr td:nth-child(7) {
  background: var(--44m);
}

tr td:nth-child(8) {
  background: var(--45m);
}

tr td:nth-child(9) {
  background: var(--46m);
}

tr td:nth-child(10) {
  background: var(--47m);
}


tr:nth-child(1) {
  color: var(--m);
}

tr:nth-child(2) {
  color: var(--1m);
}

tr:nth-child(3) {
  color: var(--30m);
}

tr:nth-child(4) {
  color: var(--130m);
}

tr:nth-child(5) {
  color: var(--31m);
}

tr:nth-child(6) {
  color: var(--131m);
}

tr:nth-child(7) {
  color: var(--32m);
}

tr:nth-child(8) {
  color: var(--132m);
}

tr:nth-child(9) {
  color: var(--33m);
}

tr:nth-child(10) {
  color: var(--133m);
}

tr:nth-child(11) {
  color: var(--34m);
}

tr:nth-child(12) {
  color: var(--134m);
}

tr:nth-child(13) {
  color: var(--35m);
}

tr:nth-child(14) {
  color: var(--135m);
}

tr:nth-child(15) {
  color: var(--36m);
}

tr:nth-child(16) {
  color: var(--136m);
}

tr:nth-child(17) {
  color: var(--37m);
}

tr:nth-child(18) {
  color: var(--137m);
}

